@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(/fonts/Montserrat-Regular.woff) format("woff");
    src: url(/fonts/Montserrat-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: Montserrat;
    font-weight: 500;
    src: url(/fonts/Montserrat-Medium.woff) format("woff");
    src: url(/fonts/Montserrat-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url(/fonts/Montserrat-SemiBold.woff) format("woff");
    src: url(/fonts/Montserrat-SemiBold.woff2) format("woff2");
  }

  @font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url(/fonts/Montserrat-Bold.woff) format("woff");
    src: url(/fonts/Montserrat-Bold.woff2) format("woff2");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(/fonts/Poppins-Bold.woff) format("woff");
    src: url(/fonts/Poppins-Bold.woff2) format("woff2");
  }
}
